/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

//#include <dt-bindings/lora/sx126x.h>

/ {
    aliases {
        lora0 = &lora;
		gpiozero = &gpio0;
		gpioum = &gpio1;
		internaluart = &uart1;
    };
};

&pinctrl {
	uart1_default_alt: uart1_default_alt {
		group1 {
			psels =	<NRF_PSEL(UART_RX, 0, 6)>;
			bias-pull-up;
		};
		group2 {
			psels = <NRF_PSEL(UART_TX, 0, 4)>;
		};
	};
	uart1_sleep_alt: uart1_sleep_alt {
		/* group 1 ('group1' name is arbitrary) */
		group1 {
			psels = <NRF_PSEL(UART_RX, 0, 6)>,
					<NRF_PSEL(UART_TX, 0, 4)>;
			low-power-enable;
		};
	};
	spi1_default_alt: spi1_default_alt {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 15)>,
					<NRF_PSEL(SPIM_MOSI, 0, 20)>, 
					<NRF_PSEL(SPIM_MISO, 0, 22)>;
		};
	};
	spi1_sleep_alt: spi1_sleep_alt {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 15)>,
					<NRF_PSEL(SPIM_MOSI, 0, 20)>, 
					<NRF_PSEL(SPIM_MISO, 0, 22)>;
			low-power-enable;
		};
	};
};

&uart0 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&spi2 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&qspi {
	status = "disabled";
};

&pwm0 {
	status = "disabled";
};


&uart1 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <9600>;
	parity = "none";
	pinctrl-0 = <&uart1_default_alt>;
	pinctrl-1 = <&uart1_sleep_alt>;
	pinctrl-names = "default", "sleep";
};

&spi1 {
	compatible = "nordic,nrf-spi";
	/* DEWAVEBOARD */ 
	cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
	// mosi-pin = <20>;
	// miso-pin = <22>;
	// sck-pin = <15>;
	pinctrl-0 = <&spi1_default_alt>;
	pinctrl-1 = <&spi1_sleep_alt>;
	pinctrl-names = "default", "sleep";
	status = "okay";
	
	lora: sx1276@0 {
		compatible = "semtech,sx1276";
		reg = <0>;
		label = "sx1276";
		reset-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
		dio-gpios = <&gpio0 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					<&gpio1 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
					<&gpio0 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		spi-max-frequency = <1000000>;
		power-amplifier-output = "pa-boost";
		/*power-amplifier-output = "rfo";*/
	};
};
